/**
 *
 * Apply Here your Custom CSS
 *
*/

body {
	
}

label.required:after{content: ' *'}

.datatable td {
    position: relative;
}

.datatable img {
    max-height: 25px;
    position: static;
}

.datatable td:hover img {
    max-height: 400px;
    max-width: 600px;
    position: absolute;
    z-index: 1;
    background: #ffffff;
}

.dd-item button.expander {
    display: block;
    position: relative;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 5px 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: visible;
    border: 0;
    background: transparent;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
    margin-right: 10px;
    outline: 0;
}
.dd-item button.expander:after {
    content: ' ';
    display: block;
    position: absolute;
    right: 0px;
    top: -5px;
    bottom: -6px;
    width: 1px;
    background: #ebebeb;
}
.dd-item button.expander:before {
    content: '+';
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    text-indent: 0;
}
.dd-item button.expander[data-action="collapse"]:before {
    content: '-';
}