{% extends 'AdminBundle:CRUD:edit.html.twig' %}

{% block breadcrumbs %}
    {% if isNew %}
        {{ breadcrumbs.prepend('Добавление категории') }}
    {% else %}
        {{ breadcrumbs.prepend('Редактирование категории') }}
    {% endif %}
    {{ breadcrumbs.prepend('Категории услуг', path('admin_category')) }}
    {{ parent() }}
{% endblock %}

{% block panel_title %}
    {% if isNew %}
        {{ 'Добавление категории' }}
    {% else %}
        {{ 'Редактирование категории' }}
    {% endif %}
{% endblock %}