{% extends 'AdminBundle::layout.html.twig' %}

{% block js %}
    {{ parent() }}

    <script src="{{ asset('bundles/admin/js/toastr.js') }}"></script>
    <script src="{{ asset('vendor/nestedSortable/jquery.mjs.nestedSortable.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.js-tree').each(function () {
                var $tree = $(this);
                $tree.nestedSortable({
                    listType: 'ul',
                    attribute: 'data-id',
                    forcePlaceholderSize: true,
                    handle: '.icon-move',
                    helper: 'clone',
                    items: 'li',
                    opacity: .6,
                    placeholder: 'placeholder',
                    revert: 250,
                    tolerance: 'pointer',
                    toleranceElement: '> div',
                    isTree: true,
                    expandOnHover: 700,
                    startCollapsed: false
                }).on('sortstop', function (e, ui) {
                    var $parent = ui.item.closest('ul').closest('li');
                    var parent = 0;
                    if ($parent.length) {
                        parent = $parent.attr('data-id');
                    }

                    var elementsAfter = ui.item.nextAll().length;

                    $.ajax({
                        url: $tree.attr('data-move-url'),
                        dataType: "json",
                        type: 'POST',
                        data: {
                            id: ui.item.attr('data-id'),
                            parent_id: parent,
                            after_count: elementsAfter
                        }
                    });
                }).on('click', '.delete-item', function () {
                    if (!confirm('Удалить элемент?')) {
                        return;
                    }
                    var $this = $(this);
                    var $li = $this.closest('li');
                    $li.hide();
                    $.ajax({
                        url: $this.attr('data-url'),
                        dataType: "json",
                        data: {},
                        type: 'POST',
                        success: function(data) {
                            if (data.result == 'ok') {
                                $li.remove();
                                toastr.success('Элемент удален', '');
                            } else {
                                $li.show();
                                toastr.error(data.error, 'Ошибка при удалении элемента');
                            }
                        },
                        error: function () {
                            $li.show();
                            toastr.error('Ошибка выполнения ajax запроса', 'Ошибка при удалении элемента');
                        }
                    });
                });
            });
        }).on('click', '.nestedSortable .expander', function() {
            if ($(this).data('action') == 'collapse') {
                $(this).data('action', 'expand').attr('data-action', 'expand');
                $(this).closest('li').children('ul').hide();
            } else {
                $(this).data('action', 'collapse').attr('data-action', 'collapse');
                $(this).closest('li').children('ul').show();
            }
        });

    </script>

{% endblock %}

{% block breadcrumbs %}
    {{ breadcrumbs.prepend('Категории услуг', path('admin_category')) }}
    {{ parent() }}
{% endblock %}

{% block content_title %}Категории услуг{% endblock %}

{% block tree_node %}
    {% for node in root.children %}
        {% set item = node.item %}

        <li class="dd-item" data-id="{{ item.id }}">
            <div>
                {% if node.children|length %}
                    <button class="expander" data-action="collapse" type="button">+</button>
                {% endif %}

                <div class="dd-handle icon-move">
                    <span>.</span>
                    <span>.</span>
                    <span>.</span>
                </div>

                <div class="dd-content">
                    <span class="text-left">{{ item.title }}</span>
                <span class="text-right" style="float: right">
                    <a class="btn btn-default btn-xs" href="{{ path('admin_category_new', {parentId: item.id}) }}"><i class="fa fa-plus"></i></a>
                    <a class="btn btn-default btn-xs" href="{{ path('admin_category_edit', {id: item.id}) }}"><i class="fa fa-edit"></i></a>
                    <button data-url="{{ path('admin_category_delete', {id: item.id}) }}" class="btn btn-xs btn-danger delete-item"><i class="fa fa-trash-o"></i></button>
                </span>
                </div>
            </div>

            {% if node.children|length %}
                {% set root = node %}
                <ul class="dd-list">
                    {{ block('tree_node') }}
                </ul>
            {% endif %}

        </li>

    {% endfor %}
{% endblock %}

{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">{{ block('content_title') }}</div>
        </div>

        <div class="panel-body">

            <div id="list-2" class="nested-list with-margins custom-drag-button drag-button-on-hover">

                <ul class="js-tree dd-list">
                    <li class="dd-item">

                        <div class="dd-content">
                            <a href="{{ path('admin_category_new') }}">Добавить новый элемент</a>
                        </div>

                    </li>
                </ul>

                <ul id="menu_tree" class="nestedSortable js-tree dd-list" data-move-url="{{ path('admin_category_move') }}">
                    {{ block('tree_node') }}
                </ul>

            </div>

        </div>

    </div>

{% endblock %}