{% extends 'form_div_layout.html.twig' %}

{% block form_hint %}
    {% if hint %}<p class="help-block">{{ hint }}</p>{% endif %}
{% endblock %}

{% block form_start %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-horizontal')|trim}) %}
    {{ parent() }}
{% endblock %}

{% block form_widget_simple %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
    {{ parent() }}
{% endblock %}

{% block form_label %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label')|trim}) %}
    {{ parent() }}
{% endblock %}

{% block form_row %}
    {% set labelCols=config.labelCols|default(3) %}
    {% set widgetCols=config.widgetCols|default(5) %}

    <div class="form-group{{ errors|length ? ' has-error' : '' }}" id="{{ id }}-form_group">
        {{ form_label(form, form.vars.label, {label_attr: {class: 'col-sm-3'}}) }}
        <div class="col-sm-{{ widgetCols }}">
            {{ form_widget(form) }}
            {{ block('form_hint') }}
            {{ form_errors(form) }}

        </div>
    </div>
{% endblock %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <p class="help-block">{{ error.message }}</p>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block submit_row %}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-5">
            {{ form_widget(form, {attr: {class: 'btn btn-primary'}}) }}
        </div>
    </div>
{% endblock %}

{% block submit_widget %}
    {% spaceless %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <button type="submit" {{ block('button_attributes') }}><i class="fa fa-save"></i> {{ label|trans({}, translation_domain) }}</button>
    {% endspaceless %}
{% endblock %}

{% block choice_widget_expanded %}
    {% spaceless %}
        {% for child in form %}
            <div class="checkbox">
                {{ form_label(child) }}
                {{ form_widget(child) }}
            </div>
        {% endfor %}
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block checkbox_widget %}
    <div class="make-switch switch-small">
        {{ parent() }}
    </div>
{% endblock %}

{% block choice_widget %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' select2')|trim}) %}
    {{ parent() }}
{% endblock %}

{% block date_range_widget %}
    <input id="{{ id }}" type="text" class="form-control" value="{{ form.from.vars.value }} - {{ form.to.vars.value }}"/>
    <div style="display: none">
        {{ form_widget(form.from) }}
        {{ form_widget(form.to) }}
        {{ form_widget(form.period) }}
    </div>
    <script type="text/javascript">
        (function () {
            var periods = {{ data.periods|json_encode|raw }};
            var rangesData = {};
            $.each(periods, function (key, el) {
                el.from = moment(el.from, el.from ? 'YYYY-MM-DD' : null).format('YYYY-MM-DD');
                el.to = moment(el.to, el.to ? 'YYYY-MM-DD' : null).format('YYYY-MM-DD');

                rangesData[el.label] = [el.from, el.to];
            });

            $('#{{ id }}').daterangepicker({
                format: 'YYYY-MM-DD',
                startDate: '{{ form.from.vars.value }}',
                endDate: '{{ form.to.vars.value }}',
                ranges: rangesData
            }).on('hidden', function(ev, picker) {
                $('#{{ form.from.vars.id }}').val(picker.picker.startDate.format('YYYY-MM-DD'));
                $('#{{ form.to.vars.id }}').val(picker.picker.endDate.format('YYYY-MM-DD'));
            });
        })();
    </script>
{% endblock %}

{% block textarea_widget %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
    {% set attr = attr|merge({'style': (attr.style|default('') ~ ' height: 200px;')|trim}) %}
    {{ parent() }}
{% endblock %}

{% block datetime_widget %}
    {{ parent() }}

    <script>
        $('#{{ id }}').datetimepicker({
            locale: 'ru',
            sideBySide: true,
            stepping: 5,
            format: 'YYYY-MM-DD HH:mm'
        });
    </script>
{% endblock %}