{% extends 'AdminBundle::layout.html.twig' %}

{% form_theme form _self %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="form-login-error" style="display: block">
                <h3>
                    {% for error in errors %}
                        {{ error.message }}
                    {% endfor %}
                </h3>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('bundles/admin/js/jquery.validate.min.js') }}"></script>
{% endblock %}

{% block body %}
    <body class="page-body login-page">

    <div class="login-container">

        <div class="login-form">

            <div class="login-content">
                {{ form_start(form, {attr: {role: 'form', id: 'form_login'}}) }}
                {{ form_errors(form) }}

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="entypo-user"></i>
                        </div>
                        {{ form_widget(form._username, {attr: {placeholder: 'Логин', autocomplete: 'off', class: 'form-control'}}) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="entypo-key"></i>
                        </div>
                        {{ form_widget(form._password, {attr: {placeholder: 'Пароль', autocomplete: 'off', class: 'form-control'}}) }}
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-login">
                        <i class="entypo-login"></i>
                        Войти
                    </button>
                </div>
                {{ form_end(form) }}

            </div>

        </div>

    </div>

    </body>
{% endblock %}