{% extends 'AdminBundle:CRUD:edit.html.twig' %}

{% block breadcrumbs %}
    {% if isNew %}
        {{ breadcrumbs.prepend('Добавление пользователя') }}
    {% else %}
        {{ breadcrumbs.prepend('Редактирование пользователя') }}
    {% endif %}
    {{ breadcrumbs.prepend('Пользователи', path('admin_user_list')) }}
    {{ parent() }}
{% endblock %}

{% block panel_title %}
    {% if isNew %}
        {{ 'Добавление пользователя' }}
    {% else %}
        {{ 'Редактирование пользователя' }}
    {% endif %}
{% endblock %}