{% extends 'AdminBundle:CRUD:list.html.twig' %}

{% block breadcrumbs %}
    {{ breadcrumbs.prepend('Список', path('admin_user_list')) }}
    {{ breadcrumbs.prepend('Пользователи', path('admin_user_list')) }}
    {{ parent() }}
{% endblock %}

{% block content_title %}Список пользователей{% endblock %}

{% block content_options %}
    <a href="{{ path('admin_user_new') }}" title="Добавить" class="bg"><i class="entypo-plus"></i></a>
{% endblock %}

{% block thead %}
    <tr>
        <th class="sorted">{{ knp_pagination_sortable(pagination, 'ID', 'u.id') }}</th>
        <th class="sorted">{{ knp_pagination_sortable(pagination, 'Email', 'u.email') }}</th>
        <th class="sorted">{{ knp_pagination_sortable(pagination, 'Роли', 'u.roles') }}</th>
        <th class="sorted">Действия</th>
    </tr>
{% endblock %}

{% block tbody %}
    {% for user in pagination %}
        <tr>
            <td>{{ user.id }}</td>
            <td><a href="{{ path('admin_user_edit', {id: user.id}) }}">{{ user.email }}</a></td>
            <td>{{ roles(user.roles) }}</td>
            <td>
                <a href="{{ path('admin_user_edit', {id: user.id}) }}" class="btn btn-default btn-sm btn-icon icon-left"><i class="entypo-pencil"></i> Редактировать</a>
                <a href="{{ path('admin_user_delete', {id: user.id}) }}" class="btn btn-danger btn-sm btn-icon icon-left" onclick="return confirm('Вы действительно хотите удалить пользователя {{ user.email }}?');"><i class="entypo-trash"></i> Удалить</a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
