{% extends 'AdminBundle::layout.html.twig' %}

{% form_theme form 'AdminBundle:Form:theme.html.twig' _self %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                {{ block('panel_title') }}
            </div>
        </div>

        <div class="panel-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

{% block breadcrumbs %}
    {% if isNew %}
        {{ breadcrumbs.prepend('Добавление отзыва') }}
    {% else %}
        {{ breadcrumbs.prepend('Редактирование отзыва') }}
    {% endif %}
    {{ breadcrumbs.prepend('Отзывы', path('admin_review')) }}
    {{ parent() }}
{% endblock %}

{% block panel_title %}
    {% if isNew %}
        {{ 'Добавление отзыва' }}
    {% else %}
        {{ 'Редактирование отзыва' }}
    {% endif %}
{% endblock %}

{% block _admin_review_imageFile_widget %}
    {% if form.parent.vars.value.imageName|length %}
        <a href="//{{ app.request.host }}{{ vich_uploader_asset(form.parent.vars.value, 'imageFile') }}" target="_blank">
            <img src="{{ vich_uploader_asset(form.parent.vars.value, 'imageFile') }}" style="max-width: 400px; max-height: 200px;">
        </a>
    {% endif %}

    {{ block('form_widget') }}
{% endblock %}