{% extends 'AdminBundle:CRUD:list.html.twig' %}

{% block breadcrumbs %}
    {{ breadcrumbs.prepend('Отзывы', path('admin_review')) }}
    {{ parent() }}
{% endblock %}

{% block content_title %}Список отзывов{% endblock %}

{% block content_options %}
    <a href="{{ path('admin_review_new') }}" title="Добавить" class="bg"><i class="entypo-plus"></i></a>
{% endblock %}

{% block thead %}
    <tr>
        <th class="sorted">ID</th>
        <th class="sorted">{{ knp_pagination_sortable(pagination, 'Дата создания', 'created') }}</th>
        <th class="sorted">{{ knp_pagination_sortable(pagination, 'Показывать на сайте', 'enabled') }}</th>
        <th class="sorted">Текст</th>
        <th class="sorted">Фотография</th>
        <th class="sorted">Действия</th>
    </tr>
{% endblock %}

{% block tbody %}
    {% for review in pagination %}
        <tr>
            <td>{{ review.id }}</td>
            <td>{{ review.created.format('d.m.Y H:i') }}</td>
            <td>{{ review.enabled|yesno }}</td>
            <td>{{ review.text[:50] }}...</td>
            <td><img src="{{ vich_uploader_asset(review, 'imageFile') }}" /></td>
            <td>
                <a href="{{ path('admin_review_delete', {id: review.id}) }}" class="btn btn-danger btn-sm btn-icon icon-left" onclick="return confirm('Вы действительно хотите удалить отзыв?');"><i class="entypo-trash"></i> Удалить</a>
                <a href="{{ path('admin_review_edit', {id: review.id}) }}" class="btn btn-default btn-sm btn-icon icon-left"><i class="entypo-pencil"></i> Редактировать</a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

